@model FornecedoresModel 
@{
    ViewData["Title"] = "Editar fornecedores";
}


<form asp-controller="Fornecedores" asp-action="Alterar" method="post">
    <input type ="hidden" asp-for="Id"/>
    <div class="form-group">
        <label for="NomeFornecedor">Fornecedor</label>
        <input type="text" asp-for="Fornecedor" class="form-control" placeholder="Digite o nome do fornecedor!">
        @Html.ValidationMessageFor(x => x.Fornecedor)


    </div>
    <div class="form-group">
        <label for="NomeProduto">Produto</label>
        <input type="text" asp-for="NomeProduto" class="form-control" placeholder="Digite o nome do produto!">
        @Html.ValidationMessageFor(x => x.NomeProduto)


    </div>
    <div class="form-group">
        <label for="ValorUnd">Valor</label>
        <input type="text" asp-for="ValorUnd" class="form-control" placeholder="Digite o valor da unidade do produto!">
        @Html.ValidationMessageFor(x => x.ValorUnd)


    </div>
    <div class="form-group">
        <label for="Data">Data</label>
        <input type="date" asp-for="Data" class="form-control" placeholder="Digite a data da verificação!">
        @Html.ValidationMessageFor(x => x.Data)


    </div>
    <div class="form-group">
        <label for="Mes">Mês</label>
        <input type="text" asp-for="Mes" class="form-control" placeholder="Digite o mês de verificação!">
        @Html.ValidationMessageFor(x => x.Mes)


    </div>
    <button type="submit" class="btn btn-primary btn-block">Alterar</button>
    <a class="btn btn-secondary btn-block" asp-controller="Fornecedores" asp-action="Index" role="button">Voltar</a>
</form>
