@model List<EstoqueModel>
@{
    ViewData["Title"] = "Listagem de estoque";
}
@if (TempData["MensagemSucesso"] != null)
{
    <div class="alert alert-primary" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
        This is a primary alert—check it out!
    </div>
}
@if (TempData["MensagemErro"] != null)
{
<div class="alert alert-danger" role="alert">
    <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
    @TempData["MensagemErro"]
</div>
}


<div class="text-center">
    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-primary" role="button" asp-controller="Estoque" asp-action="CadastrarProduto">Adicionar produto</a>
    </div>
    </br>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Produto</th>
                <th scope="col">Quantidade</th>
                <th scope="col">Valor por unidade</th>
                <th scope="col">Valor total</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (EstoqueModel estoque in Model)
                {
                    <tr>
                        <th scope="row">@estoque.Id</th>
                        <td>@estoque.Nome</td>
                        <td>@estoque.Quantidade</td>
                        <td>R$ @estoque.ValorPorUnidade</td>
                        <td>R$ @estoque.ValorTotal</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <a role="button" class="btn btn-primary" asp-route-id="@estoque.Id" asp-controller="Estoque" asp-action="EditarProduto">Editar</a>
                                <a role="button" class="btn btn-danger" asp-route-id="@estoque.Id" asp-controller="Estoque" asp-action="ApagarProdutoConfirmacao">Apagar</a>
                            </div>
                        </td>

                    </tr>
                }
            }

        </tbody>
    </table>
</div>
